<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo Artista</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h2>Datos del Artista</h2>   
        
        <form th:action="@{/guardarArtista}"
              method="post"
              th:object="${cliente}"> 
            
            <input type="hidden" name="idartista" th:field="*{idartista}"/> 
            <label for="nombre">Nombre: </label> <!--relacionado a un input-->
            <input type="text" name="nombre" th:field="*{nombre}"/> <!-- th:field mapea el objeto para enviarlo y traerlo | igual a al identidad de Cliente-->
            <br>
            <label for="apellidos">Edad: </label> <!--relacionado a un input-->
            <input type="text" name="edad" th:field="*{edad}"/>
            <br>
            <label for="correo">Canción Popular: </label> <!--relacionado a un input-->
            <input type="email" name="cancionPopular" th:field="*{cancionPopular}"/>
            <br>
            <label for="telefono">Genero Musical: </label> <!--relacionado a un input-->
            <input type="tel" name="generoMusical" th:field="*{generoMusical}"/>
            <br>            
            <input type="submit" name="guardar" value="Guardar Registro"/>
            
        </form>
    </body>
</html>
